/* src/styles/AboutUs.css */

.about-container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f200;
  position: relative;
  height: 100vh;
  
}

.about-header {
  background-size: cover;
  color: #000000;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif';
}

.about-header h1 {
  margin: 0;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-content {
  max-width: 800px;
  margin: 1px auto;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #a090f179; */

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.4px);
  -webkit-backdrop-filter: blur(11.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}

.about-content p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.team-section {
  margin-top: 30px;
}

.team-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.team-section ul {
  list-style: none;
  padding: 0;
}

.team-section li {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 8px;
}


.about-footer {
  background-size: cover;
  text-align: center;
  padding: 10px;
  color: #000000;
}

.about-footer a {
  color: #007bff;
}

.wavee {
  display: flex;
  align-items: end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.header-link {
  text-decoration: none;
  color: #ef0000;
}
