.dash{
    display: flex;
    justify-content: space-between;
}


.linkedin-live-container {
    position: fixed; /* Fix to the viewport */
    bottom: 20px; /* Distance from the bottom */
    right: 20px; /* Distance from the right */
    width: 300px; /* Set the desired width */
    z-index: 1000;
}

  
  /* .twitter-feed-container, .linkedin-live-container {
    width: 100%;
    max-width: 600px;
  }
   */