* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
    height: 100vh;
    width: 18vw;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}



.logo {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 220px;
    display: flex;
    justify-content: start;
}

.logo img{
    width: 80%;
    padding-left: 20px;
}

.line {
    width: 80%; 
    height: 1px;
    background-color: white; 
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 20px;
    /* padding-left: 10px; */
    gap: 30px;
    justify-content: center;
}

.group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.group a {
    font-size: 1.7vw;
    text-decoration: none;
    color: white;
}

.group p{
    margin: 0px;
    font-size: 1.7vw;
    text-decoration: none;
    color: white;
}

.group img {
    /* height: 38px;
    width: 38px; */
    height: 5vh;
    width: 5vw;
}
